#start{
  font-size: 13px;
  text-align: center;
  text-shadow: 3px 3px 3px white;
}
#b1 {
  background-color: silver;
}
.jumbotron{
  margin: 100px;
  height: 800px;
  width: 1000px;
  cursor: pointer;
  background-size: cover;
}
.jumbotron:hover {
  text-decoration: underline;
}
.forest1 {
  background-image: url("img/forest1.gif");
  color: lavender;
}
.mnt2 {
  background-image: url("img/mnt2.gif");
}
.seaside1 {
  background-image: url("img/seaside1.gif");
}

#body1 {
  text-align: center;
  width: 1000px;
  margin: 100px;
}
